---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
import BaseHead from '../../components/BaseHead.astro';
import Footer from '../../components/Footer.astro';
import FormattedDate from '../../components/FormattedDate.astro';
import Header from '../../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../../consts';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			a, a * {
				text-decoration: none !important;
			}
			main {
				width: calc(100% - 10em);
				margin: 0 auto;    /* centers it */
				padding: 1rem;
			}
			section {
				display: grid;
				grid-template-columns: repeat(3, 1fr);
				gap: 2rem;
			}
			@media (max-width: 720px) {
				section {
					grid-template-columns: 1fr;
					gap: 1rem;
				}
			}
			.title {
				margin: 0;
				color: rgb(var(--black));
				line-height: 1;
			}
			.date {
				margin: 0;
				color: rgb(var(--gray));
			}
			ul li a:hover h4,
			ul li a:hover .date {
				color: rgb(var(--accent));
			}
			ul a:hover img {
				box-shadow: var(--box-shadow);
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<h1 class="page-title">Musings</h1>
			<div class="one" style="background-color: #06CDFA;">
				<section>
					{posts.map((post) => (
						<div class="one" style="background-color:#D998DF;">
							<a href={`/blog/${post.id}/`}>
								{post.data.heroImage && (
										<Image width={720} height={360} src={post.data.heroImage} alt={post.data.title} />
								)}
								<div class="line" style="--line-weight: 5px; --line-length: 100%; --line-color: black; --line-direction: horizontal; margin: 1rem 0;"></div>
								<h4 class="title">{post.data.title}</h4>
								<p class="description">{post.data.description}</p>
								<p class="date">
									<FormattedDate date={post.data.pubDate} />
								</p>
							</a>
						</div>
					))}
				</div>
			</section>
		</main>
		<Footer />
	</body>
</html>
